@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.background {
  background-image: linear-gradient(
    to bottom,
    #272727 0%,
    #272727 43%,
    #fff 40%
  );
  height: 100vh;
  width: 100%;
}
.bg-container {
  width: 90%;
  margin-inline: auto;
}
.modal-dialog {
  max-width: 700px !important;
}
.wallet {
  width: 180px;
  border-radius: 5px;
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wallet-img {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #1dc9d4;
}
.content-container {
  width: 90%;
  margin-inline: auto;
}
.steps {
  display: flex;
  width: 90%;
  margin-inline: auto;
  justify-content: space-between;
}

.step {
  width: 33.33%;
  position: relative;
}

.step:not(:first-child)::before {
  content: "";
  width: 91%;
  height: 2px;
  background-color: rgba(94, 110, 120, 0.3);
  position: absolute;
  right: 54%;
  top: 2px;
}

.dot {
  width: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(94, 110, 120, 0.3);
  transition: all 0.5s linear;
}
.activated .dot {
  background-color: #2ee297;
  transform: scale(2);
  position: relative;
}
.activated .tick::before {
  content: "\f00c";
  font-weight: 900;
  font-size: 5px;
  font-family: "Font Awesome 5 Free";
  color: white;
  position: absolute;
  top: 1px;
  left: 0.5px;
}
.activated:not(:first-child)::before {
  background-color: #2ee297;
}
.activated > p {
  color: #2ee297;
}
.choose-rule {
  gap: 4%;
}
.rule {
  border: 1px solid rgba(94, 110, 120, 0.4);
  border-radius: 6px;
  width: 48%;
}
.rule-logo {
  width: 20px;
}
.rule-logo img {
  width: 100%;
}
.define-input {
  border: none;
  outline: none;
  margin: 0;
}
.define-input:focus {
  border-bottom: 1px solid #222;
}

.search-container {
  background-color: #fbfbfc;
  padding: 30px;
  border: 1px solid #e3e6e8;
  margin-top: 20px;
}

.define-search {
  background-color: #fff;
  width: 100%;
  border: 1px solid #1dc9d4;
  border-radius: 6px;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.define-search > i {
  font-size: 18px;
}
.define-search > input {
  width: 100%;
  border: none;
  outline: none;
}
.define-search:has(input:focus) {
  box-shadow: 0 0 0 2px rgba(29, 201, 212, 0.5);
}

@media only screen and (min-width: 768px) {
  .create-text {
    width: 60%;
  }
  .create-btn {
    padding: 10px 20px !important;
  }
}
